body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./img/bg/bg3.jpg");
    background-size: cover;
    height: 100vh;
    font-family: 'Luckiest Guy', Tahoma, Verdana, sans-serif;
    background-position: center;
    overflow: hidden;
}

h1 {
    font-size: xxx-large;
    color: white;
    text-shadow: 3px 3px 9px black;

}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 600px) {
    canvas {
        height: 100vh;
    }
    h1 { display: none;}
}

.startbutton:hover {}