body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./img/bg/bg.jpg");
    background-size: cover;
    height: 100vh;
    font-family: 'Luckiest Guy', Tahoma, Verdana, sans-serif;
    background-position: center;
    overflow: hidden;
}

h1 {
    font-size: xxx-large;
    color: white;
    text-shadow: 3px 3px 9px black;
}

.btn {
    border: 8px white solid;
    padding: 25px 60px 25px 60px;
    background-color: #7FFFE0;
    border-radius: 25px;
    font-family: 'Luckiest Guy', Tahoma, Verdana, sans-serif;
    color: #531A82;
    font-size: xxx-large;
    transition: 0.125s ease-in-out;
}

.none {
    display: none !important;
}

.btn:hover {
    background-color: #FCEE21;
    box-shadow: 3px 3px 9px black;
    margin-left: 30px;
    transition: 0.125s ease-in-out;
    cursor: pointer;
}

.overlays {
    position: absolute;
    inset: 0;

}

.game_board {
    position: relative;
}

.firstline {
    margin-right: 330px;
}

.lastline {
    margin-left: 330px;
}

.main_menu {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 33%;
    max-width: 660px;
    min-width: 440px;
}

.boton {
    aspect-ratio: auto 720 / 480;
}

.gameover {
    height: 100%;
    display: flex;
    align-items: center;
}

.imgLose {
    width: 100%;
}

.imgWin {
    display: block;
    height: 480px;
    width: 720px;
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas, .imgWin {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-height: 600px) {
    canvas, .imgWin {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}
